block map
	section.map
		.bar
			.bar-wrap
				h3.bar__title Redeem exclusive offer
				a.bar__link
					span.bar__text.btn Details
					include ../../../img/phone.svg

		.container
			.section__head
				h3.section__title Find as on the map

			.map__wrap
				.map__frame#map
				.map__info
					.map__info-wrap
						.map__info-container
							.map__info-title Our adress:
							.map__info-text 41 Chemin du Tremblay, Boucherville, QC J4B 7L6 Canada